@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.nc-header-bg {
  @apply bg-white/70 dark:bg-neutral-900/60 backdrop-blur-2xl backdrop-filter;
}

.dark {
  @apply bg-d-background;
}

.scrollTotopbutton {
  @apply fixed bottom-0 right-0 m-5 rounded-full border border-d-background dark:border-background text-2xl text-d-background dark:text-background;
  width: 50px;
  height: 50px;
  /* transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out; */
}
.scrollTotopbutton:hover {
  @apply border-background dark:border-d-background bg-d-background dark:bg-background text-background dark:text-d-background;
  ;
  /* transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out; */
}